{% extends "proyectowebapp/base.html" %}

{% load static %}

{% block content %}

<!-- Heading Section -->

<section class="page-section clearfix">
  <!-- Message -->

  <section class="page-section cta">
      <div class="container">
          <div class="row">
              <div class="col-xl-9 mx-auto">
                  <div class="cta-inner text-center rounded">
                      <h2 class="section-heading mb-4">
                          <span class="section-heading-upper">Compromiso total</span>
                          <span class="section-heading-lower">Garantizado</span>
                      </h2>
                      <p class="mb-0">Con más de 40 años de experiencia a nuestras espaldas, desde Com La Seda tenemos los conocimientos y amor por cada tela y cada traje que confeccionamos para brindar y hacer los sueños realidad con profesionalidad.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="page-section clearfix">
      <!-- Message -->
      <section class="page-section cta">
          <div class="container">
              <div class="row">
                  <div class="col-xl-9 mx-auto">
                      <div class="cta-inner text-center rounded">
                          <h2 class="section-heading mb-4">
                              <span class="section-heading-upper">Cursos de Costura</span>
                              <span class="section-heading-lower">Personalizados</span>
                          </h2>
                          <p class="mb-0">Únete a nuestros cursos de costura personalizados</p>
                          <p class="mb-0">Más info, en el apartado "Servicios"</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </section>
  <section class="page-section clearfix">
      <!-- Bloque de Imágenes -->
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="image-box">
                      <img src="path/to/image1.jpg" class="img-fluid rounded" alt="Descripción de la imagen 1">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="image-box">
                      <img src="path/to/image2.jpg" class="img-fluid rounded" alt="Descripción de la imagen 2">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="image-box">
                      <img src="path/to/image3.jpg" class="img-fluid rounded" alt="Descripción de la imagen 3">
                  </div>
              </div>
          </div>
      </div>
  </section>
</section>


<!-- Commitment Section -->
<section class="page-section cta">
</section>
{% endblock %}
