{% extends "proyectowebapp/base.html" %}
{% load static %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        line-height: 1.6;
    }
    .container {
        max-width: 800px;
        margin: auto;
    }
    h1, h2, h3 {
        color: black;
        font-weight: bold;
    }
    p {
        color: black;
        font-weight: bold;
    }
</style>

<div class="container">
    <h1>Políticas de Privacidad</h1>
    <p>Última actualización: 2024</p>
    <p>Esta Política de Privacidad describe cómo recogemos, usamos y compartimos la información que obtenemos de usted a través de nuestro sitio web Com La Seda. Al usar nuestro sitio web, usted acepta los términos descritos en esta política.</p>
    
    <h2>1. Información que Recogemos</h2>
    <p>Recogemos diferentes tipos de información de los usuarios de nuestro sitio web, incluyendo:</p>
    <ul>
        <li>Información de identificación personal (como nombre, dirección de correo electrónico, número de teléfono, etc.) que usted nos proporciona voluntariamente.</li>
        <li>Información no personal (como datos demográficos, información sobre el dispositivo, datos de uso, etc.) que se recoge automáticamente cuando usted interactúa con nuestro sitio web.</li>
    </ul>
    
    <h2>2. Uso de la Información</h2>
    <p>Utilizamos la información que recogemos para diversos fines, incluyendo:</p>
    <ul>
        <li>Proveer, operar y mantener nuestro sitio web.</li>
        <li>Mejorar, personalizar y expandir nuestro sitio web.</li>
        <li>Entender y analizar cómo utiliza usted nuestro sitio web.</li>
        <li>Desarrollar nuevos productos, servicios, características y funcionalidades.</li>
        <li>Comunicarnos con usted, ya sea directamente o a través de uno de nuestros socios, incluyendo para el servicio al cliente, para proporcionarle actualizaciones y otra información relacionada con el sitio web, y con fines de marketing y promocionales.</li>
    </ul>
    
    <h2>3. Compartir la Información</h2>
    <p>No vendemos, intercambiamos ni transferimos a terceros su información de identificación personal sin su consentimiento. Podemos compartir su información en las siguientes situaciones:</p>
    <ul>
        <li>Con proveedores de servicios de terceros que nos ayudan a operar nuestro sitio web, realizar nuestro negocio o servir a nuestros usuarios.</li>
        <li>Cuando creemos que la divulgación es necesaria para cumplir con la ley, hacer cumplir nuestras políticas del sitio, o proteger nuestros derechos, propiedad o seguridad.</li>
    </ul>
    
    <h2>4. Seguridad de la Información</h2>
    <p>Implementamos una variedad de medidas de seguridad para mantener la seguridad de su información personal cuando usted ingresa, envía o accede a su información personal. Sin embargo, ninguna transmisión de datos a través de Internet o método de almacenamiento electrónico es 100% seguro.</p>
    
    <h2>5. Sus Derechos de Privacidad</h2>
    <p>Dependiendo de su ubicación, usted puede tener ciertos derechos relacionados con su información personal, tales como el derecho a acceder, corregir o eliminar su información personal. Para ejercer estos derechos, por favor contáctenos en [Correo electrónico de contacto].</p>
    
    <h2>6. Cambios en la Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos sobre cualquier cambio publicando la nueva Política de Privacidad en esta página. Le recomendamos que revise esta Política de Privacidad periódicamente para estar informado sobre cómo protegemos su información.</p>
    
    <h2>7. Contacto</h2>
    <p>Si tiene alguna pregunta sobre esta Política de Privacidad, por favor contáctenos en:</p>
    <p>oshill13@outlook.es</p>
    <p>C/Picassent 23 46900 Torrent, Valencia</p>
</div>

{% endblock %}
